
.box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    padding: 0;
    z-index: 10;
}
#mode{
    position: relative;
    z-index: 110;
}